.department-card-container {
  display: none;
  opacity: 0;
  transition: all ease-in-out var(--animation-time);
}
.department-card-container.visible {
  display: block;
  position: absolute;
  top: var(--header-height);
  left: 0;
  width: 100%;
  min-height: 100vh;
  background: url(/img/backgrounds/line-background.svg) center / cover no-repeat;
  z-index: 10;
  padding: 30px 0px;
  opacity: 1;
  transition: all ease-in-out var(--animation-time);
}


.department-card-container .wrapper {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

@media (min-width: 1150px) {
  .department-card-container .wrapper {
    flex-direction: row-reverse;
    align-items: stretch;
    justify-content: space-between;
    position: relative;
  }
}

.department-card__photo-container {
  width: 100%;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  overflow: hidden;
  flex-shrink: 0;
}

.department-card__photo-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

@media (min-width: 1150px) {
  .department-card__photo-container {
    width: 40%;
    border-radius: 0;
    aspect-ratio: unset;
    height: auto;
    display: flex;
    align-items: center;
  }

  .department-card__photo-container img {
    height: 300px;
  }
}

.department-card__info-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 100%;
}

@media (min-width: 1150px) {
  .department-card__info-container {
    width: 60%;
  }
}

.department-card__manager {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
  width: 100%;
}
.department-card__mission {
  font-style: italic;
}
.department-card__description {
  width: 100%;
}
.department-card-container .accordion-container .set {
    border-bottom: 1px solid var(--dark-border-color);
}
.department-card-container .accordion-container .set .content{
padding: 10px 0px 10px 30px;
}

.department-card-container .accordion-container .set a {
  padding: 10px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 100%;
}

.department-card-container .accordion-container .set a img {
  width: 20px;
  transform: rotate(180deg);
  transition: all ease-in-out var(--animation-time);
}
.department-card-container .accordion-container .set a.active img {
  transform: rotate(0deg);
  transition: all ease-in-out var(--animation-time);
}
.department-card-container .accordion-container .set ul {
  list-style:disc;
}

.department-card__admin-panel {
  display: flex;
  flex-direction: row;
}


.close-btn button {
  background: none;
  border: none;
  width: 25px;
  position: absolute;
  top: 20px;
  right: 20px;
  transition: all ease 0.3s;
}
.close-btn button:hover {
  transform: rotate(180deg);
    transition: transform 
ease-in-out var(--animation-time);

}
@media (min-width: 1150px) {
  .close-btn button {
    top: 0;
    right: 0;
  }
}

.close-btn button img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
}
.department-card__manager a,
.department-card__description #department-team  li a{
  position: relative;
  width: fit-content;
}
.department-card__manager a::after,
.department-card__description #department-team a::after {
  content: "";
  position: absolute;
  width: 0;
  height: 1px;
  bottom: -1px; 
  left: 0;
  background-color: var(--grey-background-color);
  transition: width 0.3s ease;
}

.department-card__manager a:hover::after,
.department-card__description #department-team a:hover::after {
  width: 100%;
}