<section class="department-card-container">
  <div class="wrapper">
    <div class="department-card__photo-container">
      <img src="/img/team/default.jpg" alt="Фото" id="photo" />
    </div>
    <div class="department-card__info-container">
      <div class="department-card__name title">
        <p>не заповнено</p>
      </div>

      <div class="department-card__manager">
        <p>Керівник:</p>
        <a href="#"><span>не заповнено</span></a>
      </div>
      <div class="department-card__mission">
        <p>MISSION</p>
      </div>

      <div class="department-card__description">
        <div class="accordion-container">
          <!--ЦІЛІ-->
          <div class="set">
            <a href="javascript:void(0);" class="">
              <p>Цілі</p>
              <img src="/img/arrow.png" alt="arrow" class="" />
            </a>
            <div
              class="content main-text"
              id="department-goals"
              style="display: none"
            >
              SOME CONTENT home-address
            </div>
          </div>

          <!--ЗАДАЧІ-->
          <div class="set">
            <a href="javascript:void(0);" class="">
              <p>Задачі</p>
              <img src="/img/arrow.png" alt="arrow" class="" />
            </a>
            <div
              class="content main-text"
              id="department-mainTasks"
              style="display: none"
            >
              SOME CONTENT home-address
            </div>
          </div>

          <!--ПРИНЦИПИ РОБОТИ-->
          <div class="set">
            <a href="javascript:void(0);" class="">
              <p>Принципи роботи</p>
              <img src="/img/arrow.png" alt="arrow" class="" />
            </a>
            <div
              class="content main-text"
              id="department-workPrinciples"
              style="display: none"
            >
              SOME CONTENT home-address
            </div>
          </div>

          <!--КОМАНДА-->
          <div class="set">
            <a href="javascript:void(0);" class="">
              <p>Команда</p>
              <img src="/img/arrow.png" alt="arrow" class="" />
            </a>
            <div
              class="content main-text"
              id="department-team"
              style="display: none"
            >
              <ul></ul>
            </div>
          </div>
        </div>
      </div>

      <div class="department-card__admin-panel">
        <div class="employee-card__edit">
          <div class="btn-wrapper-dark">
            <a href="javascript:void(0)">
              <span>Змінити</span>
            </a>
          </div>
        </div>
        <div class="employee-card__delete">
          <div class="btn-wrapper-dark">
            <a href="javascript:void(0)">
              <span>Видалити</span>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="close-btn">
      <button>
        <img src="/img/close.png" alt="close-cross" />
      </button>
    </div>
  </div>
</section>
