<section
  class="information-current-working-information"
  id="information-current-working-information"
>
  <div class="wrapper">
    <div class="information-current-working-information__text">
      <h2 class="small__h2">
        <img src="/img/h2-decor.svg" alt=" decor" />
        актуальна робоча інформація
      </h2>
      <div class="information-current-working-information__item">
        <div class="card-circle">
          <img
            src="/img/information/information-current-working-information/information-clock.png"
            alt="clock"
          />
        </div>
        <div class="information-current-working-information__item-text">
          <p class="title">Розклад зустрічей</p>
          <div class="btn-wrapper-dark">
            <a
              href="https://tree.taiga.io/project/svitlana_a-rozklad-zustrichei/kanban"
              target="_blank"
            >
              <span>Перейти</span></a
            >
          </div>
        </div>
      </div>
      <div class="information-current-working-information__item">
        <div class="card-circle">
          <img
            src="/img/information/information-current-working-information/information-delivery.png"
            alt="delivery"
          />
        </div>
        <div class="information-current-working-information__item-text">
          <p class="title">Календар поставок</p>
          <div class="btn-wrapper-dark">
            <a href="#"><span>Перейти</span></a>
          </div>
        </div>
      </div>
    </div>
    <img
      class="information-current-working-information__img"
      src="/img/information/information-current-working-information/information-work-info-img.png"
      alt="paper"
    />
  </div>
</section>
