 
    <section class="login-page" id="loginPage">
        <a class="close-btn" id="closeBtn">✖</a>
        <h2>Вхід до особистого кабінету</h2>
        <form id="loginForm">
            <label for="username">Ім'я користувача:</label>
            <input type="text" id="username" name="username" required>
            <label for="password">Пароль:</label>
            <input type="password" id="password" name="password" required>
            <p class="error-message" id="error-message"></p>
            <div class="btn-wrapper-dark">
            <button class="submit-btn" type="submit"><span>Вхід</span></button>
            </div>
        </form>
    </section>

    

