<section class="index-approach-to-work" id="approach-to-work">
  <div class="wrapper">
    <h2 class="small__h2">
      <img src="./img/h2-decor.svg" alt=" decor" />
      Підхід до роботи
    </h2>
    <div class="index-approach-to-work__line">
      <!-- <div class="index-approach-to-work__item">
        <img
          src="./img/index/index-approach-to-work/approach-to-work-line-1.jfif"
          alt="paper"
        />
        <p class="title">Схема роботи</p>
        <div class="btn-wrapper-dark">
          <a href="default-page.html"><span>Ознайомитись</span></a>
        </div>
      </div> -->
      <div class="index-approach-to-work__item">
        <img
          src="./img/index/index-approach-to-work/approach-to-work-line-2.jfif"
          alt="paper"
        />
        <p class="title">Бізнес-модель</p>
        <div class="btn-wrapper-dark">
          <a href="/documents/Бізнес-модель.pdf" target="_blank"
            ><span>Ознайомитись</span></a
          >
        </div>
      </div>
      <div class="index-approach-to-work__item">
        <img
          src="./img/index/index-approach-to-work/approach-to-work-line-3.jfif"
          alt="paper"
        />
        <p class="title">Стратегія</p>
        <div class="btn-wrapper-dark">
          <a href="/documents/Стратегія.pdf" target="_blank"
            ><span>Ознайомитись</span></a
          >
        </div>
      </div>
    </div>
  </div>
</section>
