<section class="index-banner banner">
  <div class="wrapper">
    <div class="index-banner__content banner-content">
      <img src="img/index/mission-decor.png" alt="decor" />
      <p>
        Август – це дружня команда відкритих людей, які прагнуть зробити світ
        яскравішим. Наша мета – не лише допомагати обрати влучний варіант серед
        різномаїття дизайнерських паперів, а й заохочувати, надихати,
        підтримувати найсміливіші ідеї, розкривати таланти і бути поряд з кожним
        клієнтом на шляху до успіху. З нами творчість виходить за рамки!
      </p>
    </div>
  </div>
</section>
