<section class="index-avgust-in-numbers">
  <div class="wrapper">
    <h2 class="big__h2">Август в цифрах</h2>
    <div class="index-avgust-in-numbers__line">
      <div class="index-avgust-in-numbers__item">
        <div class="index-avgust-in-numbers__card-circle">
          <img
            src="/img/index/index-avgust-in-numbers/calendar.png"
            alt="calendar"
          />
        </div>
        <div class="main-text counter yearofWork" data-count="yearofWork">
          0
        </div>
        <p class="main-text">років на ринку</p>
      </div>
      <div class="index-avgust-in-numbers__item">
        <div class="index-avgust-in-numbers__card-circle">
          <img src="/img/index/index-avgust-in-numbers/team.png" alt="team" />
        </div>
        <div class="main-text counter emp-counter" data-count="lengthJson">
          0
        </div>
        <p class="main-text">співробітники</p>
      </div>
      <div class="index-avgust-in-numbers__item">
        <div class="index-avgust-in-numbers__card-circle">
          <img
            src="/img/index/index-avgust-in-numbers/client.png"
            alt="client"
          />
        </div>
        <div class="index-avgust-in-numbers__client-container">
          <div class="main-text counter" data-count="5000">0</div>
          <p>+</p>
        </div>
        <p class="main-text">клієнтів</p>
      </div>
      <div class="index-avgust-in-numbers__item">
        <div class="index-avgust-in-numbers__card-circle">
          <img
            src="/img/index/index-avgust-in-numbers/representative.png"
            alt="representative"
          />
        </div>
        <div class="main-text counter" data-count="12">0</div>
        <p class="main-text">представництв</p>
      </div>
    </div>
  </div>
</section>
