<section class="index-our-team" id="our-team">
  <div class="wrapper">
    <img
      class="index-our-team__photo"
      src="/img/index/index-our-team/our-team.jpg"
      alt="our-team"
    />
    <div class="index-our-team__info">
      <h2 class="small__h2">
        <img src="/img/h2-decor.svg" alt=" decor" />
        Наша команда
      </h2>
      <p class="index-our-team__title title">
        Август- це професійна команда відкритих людей, що прагнуть зробити світ
        яскравішим
      </p>
      <p class="index-our-team__text main-text">
        <span>Команда – це наш фундамент.</span> Ми цінуємо взаємозамінність в
        команді, відносини між співробітником і керівником на рівних. Ми
        працюємо без перекладання відповідальності та відмов у допомозі один
        одному і вітаємо виключно здоровий робочий конфлікт, що є чинником
        нашого розвитку.
      </p>
      <div class="btn-wrapper-light">
        <a href="/pages/team/our-team.html"><span>Познайомитись з командою</span></a>
      </div>
    </div>
  </div>
</section>
