<section class="index-corporate-culture" id="corporate-culture">
  <div class="wrapper">
    <img
      class="index-corporate-culture__img"
      src="/img/index/index-corporate-culture/arm-with-paper.jpg"
      alt="arm-with-paper"
    />
    <div class="index-corporate-culture__text-block">
      <h2 class="small__h2">
        <img src="/img/h2-decor.svg" alt=" decor" />
        КОРПОРАТИВНА КУЛЬТУРА <br />
        ТА<br />
        ПРОФЕСІЙНО-ЕТИЧНИЙ КОД
      </h2>
      <p class="title">Наші Цінності в Дії</p>
      <p class="index-corporate-culture__description main-text">
        Наша корпоративна культура відображає наші цінності, підхід до роботи та
        спосіб спілкування. Ми віримо, що це допомагає нам спільно досягати
        великих успіхів та втілювати наші амбіційні плани.
      </p>
      <div class="btn-wrapper-dark">
        <a href="/pages/our-culture-document.html">
          <span>Ознайомитись з документом</span>
        </a>
      </div>
    </div>
  </div>
</section>
