<section class="index-our-values" id="our-values">
  <div class="wrapper">
    <h2 class="big__h2">Наші цінності</h2>
    <div class="index-our-values__slider">
      <div class="index-our-values__slider-item">
        <div class="index-our-values__card-circle card-circle">
          <img src="./img/index/index-out-values/professionalism.png" alt="professionalism" />
        </div>
        <p class="index-our-values__card-title title">Професіоналізм</p>
        <p class="index-our-values__card-text main-text main-text">
          особливе властивість людини, що має на меті систематичне, ефективне і
          надійне виконання складної (професійної) діяльності. Професійна
          діяльність вимагає тривалого періоду навчання: теоретичного і
          практичного.
        </p>
      </div>
      <div class="index-our-values__slider-item">
        <div class="index-our-values__card-circle card-circle">
          <img src="./img/index/index-out-values/customer-care.png" alt="customer-care" />
        </div>
        <p class="index-our-values__card-title title">Клієнтоорієнтованість</p>
        <p class="index-our-values__card-text main-text">
          підхід, при якому компанія ставить клієнта, його потреби, вимоги та
          бажання на перше місце.
        </p>
      </div>
      <div class="index-our-values__slider-item">
        <div class="index-our-values__card-circle card-circle">
          <img src="./img/index/index-out-values/interaction.png" alt="interaction" />
        </div>
        <p class="index-our-values__card-title title">Взаємодія</p>
        <p class="index-our-values__card-text main-text">
          процес нашого безпосереднього чи опосередкованого впливу один на
          одного, що породжує наші взаємні зумовленість і зв'язок.
        </p>
      </div>
      <div class="index-our-values__slider-item">
        <div class="index-our-values__card-circle card-circle">
          <img src="./img/index/index-out-values/partnership.png" alt="partnership" />
        </div>
        <p class="index-our-values__card-title title">Партнерство</p>
        <p class="index-our-values__card-text main-text">
          добровільна угода про співпрацю між двома або більше сторонами, в якій
          всі учасники домовляються працювати разом для досягнення спільної мети
          або виконання певного завдання, розділяти ресурси і ризики,
          відповідальність і правомочність.
        </p>
      </div>
      <div class="index-our-values__slider-item">
        <div class="index-our-values__card-circle card-circle">
          <img src="./img/index/index-out-values/responsibility.png" alt="responsibility" />
        </div>
        <p class="index-our-values__card-title title">Відповідальність</p>
        <p class="index-our-values__card-text main-text">
          свідома здатність людини, групи людей чи компанії адекватно відповісти
          за те, що доручено або за те, що було взято на себе самостійно. Це
          усвідомлення суті і значення діяльності та її наслідків.
        </p>
      </div>
      <div class="index-our-values__slider-item">
        <div class="index-our-values__card-circle card-circle">
          <img src="./img/index/index-out-values/innovation.png" alt="innovation" />
        </div>
        <p class="index-our-values__card-title title">Інновації</p>
        <p class="index-our-values__card-text main-text">
          ідея, новітній продукт в галузі техніки, технології, організації
          праці, управління, а також у інших сферах діяльності.
        </p>
      </div>
      <div class="index-our-values__slider-item">
        <div class="index-our-values__card-circle card-circle">
          <img src="./img/index/index-out-values/creative.png" alt="creative" />
        </div>
        <p class="index-our-values__card-title title">Творчість</p>
        <p class="index-our-values__card-text main-text">
          діяльність, що породжує щось якісно нове і відмінне неповторністю,
          оригінальністю та унікальністю.
        </p>
      </div>
      <div class="index-our-values__slider-item">
        <div class="index-our-values__card-circle card-circle">
          <img src="./img/index/index-out-values/honesty.png" alt="honesty" />
        </div>
        <p class="index-our-values__card-title title">Чесність</p>
        <p class="index-our-values__card-text main-text">
          це моральна якість, що відображає одну з найважливіших вимог
          моральності. Включає правдивість, принциповість, вірність взятим
          зобов'язанням, суб'єктивну переконаність у правоті справи, щирість
          перед іншими і перед самим собою відносно тих мотивів, якими людина
          керується, визнання і дотримання прав інших людей.
        </p>
      </div>
    </div>
    
  </div>
</section>
