<!DOCTYPE html>
<html lang="ua">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/img/logo-small.png" type="image/x-icon" />
    <title>Avgust.ua</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body class="our-team">
    <header
      data-hx-trigger="load"
      data-hx-swap="outerHTML"
      data-hx-get="/partials/header/menu.html"
    ></header>
    <section
      data-hx-trigger="load"
      data-hx-swap="outerHTML"
      data-hx-get="/partials/team/our-team-banner.patrial.html"
    ></section>
    <div class="wrapper">

    <section
    data-hx-trigger="load"
    data-hx-swap="outerHTML"
    data-hx-get="/partials/team/our-team-search.patrial.html"
  ></section>
  <section
  data-hx-trigger="load"
  data-hx-swap="outerHTML"
  data-hx-get="/partials/team/our-team-list.patrial.html"
></section>
<section
data-hx-trigger="load"
data-hx-swap="outerHTML"
data-hx-get="/partials/team/our-team-person-card.partial.html"
></section>
   
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/js/main.js"></script>
    <script
      src="https://unpkg.com/htmx.org@1.9.10"
      integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC"
      crossorigin="anonymous"
    ></script>
    </div>
  </body>
</html>
