<section class="employee-list">
    <div class="employee-list__search">
        here will be search
    </div>
  <div class="employee-list__container">
    <div class="employee-list__item">
      <div class="employee-list__item-photo-container">
        <img class="employee-list__item-photo" src="/img/team/Валько Владислава.jpg" alt="" />
      </div>
      <div class="employee-list__item-info">
        <div class="employee-list__item-full-name ">
          <p class="employee-list__item-first-name title">Валько</p>
          <p class="employee-list__item-last-name title">Владислава</p>
          <p class="employee-list__item-middle-name title">Олександрівна</p>
        </div>
        <div class="employee-list__item-postion-and-expirience ">
          <p class="employee-list__item-position main-text">
            Керівник адміністративного відділу
          </p>
          <p class="employee-list__item-expirience main-text">4 роки досвіду</p>
        </div>
        <div class="employee-list__item-contacts">
          <div class="employee-list__item-phone">
            <div class="employee-list__item-decor">
              <img src="/img/call.png" alt="" />
            </div>
            <a class="main-text" href="#">093-613-81-31</a>
          </div>
          <div class="employee-list__item-email">
            <div class="employee-list__item-decor">
              <img src="/img/email.png" alt="" />
            </div>
            <a class="main-text" href="#">vlada.valko111@gmail.com</a>
          </div>
        </div>
      </div>
      <div class="btn-wrapper-dark">
        <a href="javascript:void(0)">
          <span>Детальніше</span>
        </a>
      </div>
    </div>
    <div class="employee-list__item">
        <div class="employee-list__item-photo-container">
          <img class="employee-list__item-photo" src="/img/team/адонина.jpg" alt="" />
        </div>
        <div class="employee-list__item-info">
          <div class="employee-list__item-full-name">
            <p class="employee-list__item-first-name">Валько</p>
            <p class="employee-list__item-last-name">Владислава</p>
            <p class="employee-list__item-middle-name">Олександрівна</p>
          </div>
          <div class="employee-list__item-postion-and-expirience">
            <p class="employee-list__item-position">
              Керівник адміністративного відділу
            </p>
            <p class="employee-list__item-expirience">4 роки досвіду</p>
          </div>
          <div class="employee-list__item-contacts">
            <div class="employee-list__item-phone">
              <div class="employee-list__item-decor">
                <img src="#" alt="" />
              </div>
              <a href="#">093-613-81-31</a>
            </div>
            <div class="employee-list__item-email">
              <div class="employee-list__item-decor">
                <img src="#" alt="" />
              </div>
              <a href="#">vlada.valko111@gmail.com</a>
            </div>
          </div>
        </div>
        <div class="btn-wrapper-dark">
          <a href="javascript:void(0)">
            <span>Детальніше</span>
          </a>
        </div>
      </div>
      <div class="employee-list__item">
        <div class="employee-list__item-photo-container">
          <img class="employee-list__item-photo" src="#" alt="" />
        </div>
        <div class="employee-list__item-info">
          <div class="employee-list__item-full-name">
            <p class="employee-list__item-first-name">Валько</p>
            <p class="employee-list__item-last-name">Владислава</p>
            <p class="employee-list__item-middle-name">Олександрівна</p>
          </div>
          <div class="employee-list__item-postion-and-expirience">
            <p class="employee-list__item-position">
              Керівник адміністративного відділу
            </p>
            <p class="employee-list__item-expirience">4 роки досвіду</p>
          </div>
          <div class="employee-list__item-contacts">
            <div class="employee-list__item-phone">
              <div class="employee-list__item-decor">
                <img src="#" alt="" />
              </div>
              <a href="#">093-613-81-31</a>
            </div>
            <div class="employee-list__item-email">
              <div class="employee-list__item-decor">
                <img src="#" alt="" />
              </div>
              <a href="#">vlada.valko111@gmail.com</a>
            </div>
          </div>
        </div>
        <div class="btn-wrapper-dark">
          <a href="javascript:void(0)">
            <span>Детальніше</span>
          </a>
        </div>
      </div>
      <div class="employee-list__item">
        <div class="employee-list__item-photo-container">
          <img class="employee-list__item-photo" src="#" alt="" />
        </div>
        <div class="employee-list__item-info">
          <div class="employee-list__item-full-name">
            <p class="employee-list__item-first-name">Валько</p>
            <p class="employee-list__item-last-name">Владислава</p>
            <p class="employee-list__item-middle-name">Олександрівна</p>
          </div>
          <div class="employee-list__item-postion-and-expirience">
            <p class="employee-list__item-position">
              Керівник адміністративного відділу
            </p>
            <p class="employee-list__item-expirience">4 роки досвіду</p>
          </div>
          <div class="employee-list__item-contacts">
            <div class="employee-list__item-phone">
              <div class="employee-list__item-decor">
                <img src="#" alt="" />
              </div>
              <a href="#">093-613-81-31</a>
            </div>
            <div class="employee-list__item-email">
              <div class="employee-list__item-decor">
                <img src="#" alt="" />
              </div>
              <a href="#">vlada.valko111@gmail.com</a>
            </div>
          </div>
        </div>
        <div class="btn-wrapper-dark">
          <a href="javascript:void(0)">
            <span>Детальніше</span>
          </a>
        </div>
      </div>
  </div>
</section>
