<section class="our-team-person-card-container">
  <div class="wrapper">
    <div class="employee-card__photo-container">
      <img src="/img/team/Андрушко Іван.jpg" alt="Adonina" />
    </div>
    <div class="employee-card__info-container">
      <div class="employee-card__full-name title">
        <p>Валько</p>
        <p>Владислава</p>
        <p>Олександрівна</p>
      </div>
      <div class="employee-card__department-and-position main-text">
        <div class="employee-card__department">Продажів</div>
        <div class="employee-card__separator"></div>
        <div class="employee-card__position">менеджер-операціоніст</div>
      </div>
      <div class="employee-card__quote-container">
        <img src="/img/team/quote.png" alt="quote" />
        <div class="employee-card__quote-text">
          Кожен новий день - це можливість зробити наступний краще!
        </div>
      </div>
      <div class="employee-card__inspiration">
        <p class="employee-card__inspiration-question">Що Вас надихає?</p>
        <p class="employee-card__inspiration-answer">моя сім`я, подорожі, спілкування з цікавими людьми.</p>
      </div>
      <div class="employee-card__details">
        <div class="employee-card__workplace-type">
          <div class="icon"> <img src="/img/pin.png" alt="pin"></div>
            <p>Працює: </p>
            <p class="main-text">віддалено</p>
        </div>
        <div class="employee-card__experiense">
          <div class="icon"> <img src="/img/expirience.png" alt="expirience"></div>
            <p>Стаж: </p>
            <p class="main-text">3 роки</p>
        </div>
        <div class="employee-card__birthday">
          <div class="icon"><img src="/img/birthday.png" alt="birthday"></div>
            <p>День народження: </p>
            <p class="main-text">20/07</p>
        </div>
        <div class="employee-card__address">
          <div class="icon"><img src="/img/home-address.png" alt="address"></div>
          <div class="address-text">
            <p>Адреса:</p>
            <p class="main-text">г. Киев, ул. Автозаводская 77, кв. 63</p>
          </div>
        </div>
        
      </div>
      <div class="employee-card__contacts">
        <div class="employee-card__mobile">
          <div class="icon"><img src="/img/call.png" alt="call"></div>
          <div class="employee-card__personal-mobile">
             <p>Особистий телефон: </p>
             <p class="main-text">0936138131 </p>
          </div>
          <div class="employee-card__corporate-mobile">
            <p>Робочий телефон: </p>
            <p class="main-text">0965114896 </p>
         </div>
        </div>
        <div class="employee-card__email">
          <div class="icon"><img src="/img/email.png" alt="email"></div>
          <div class="employee-card__personal-email">
             <p>Особистий email: </p>
             <p class="main-text">vlada.valko111@gmail.com </p>
          </div>
          <div class="employee-card__corporate-email">
            <p>Робочий email: </p>
            <p class="main-text">valko.avgust@gmail.com </p>
         </div>
        </div>
      </div>
      <div class="employee-card__resources">
        <div class="employee-card__documents">
          <div class="btn-wrapper-dark">
            <a href="javascript:void(0)">
              <span>Переглянути документи</span>
            </a>
          </div>
        </div>
        <div class="employee-card__assigned-equipment">
          <div class="btn-wrapper-dark">
            <a href="javascript:void(0)">
              <span>Закріплені ТМЦ</span>
            </a>
          </div>
        </div>
      </div>
      <div class="employee-card__admin-panel">
        <div class="employee-card__edit">
          <div class="btn-wrapper-dark">
            <a href="javascript:void(0)">
              <span>Змінити</span>
            </a>
          </div>
        </div>
        <div class="employee-card__delete">
          <div class="btn-wrapper-dark">
            <a href="javascript:void(0)">
              <span>Видалити</span>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="close-btn">
      <button>
        <img src="/img/close.png" alt="close-cross">
      </button>
    </div>
  </div>

</section>
