<section class="our-team-person-card-container">
  <div class="wrapper">
    <div class="employee-card__photo-container">
      <img src="/img/default-photo.jpg" alt="Фото" id="photo" />
      <input type="file" id="file-input" />
    </div>
    <div class="employee-card__info-container">
      <div class="employee-card__full-name title">
        <p id="firstName" >не заповнено</p>
        <p id="lastName" >не заповнено</p>
        <p id="middleName" >не заповнено</p>
      </div>
      <div class="employee-card__department-and-position main-text">
        <div id="department" class="employee-card__department" >не заповнено</div>
        <div class="employee-card__separator"></div>
        <div id="position" class="employee-card__position" >не заповнено</div>
      </div>
      <div class="employee-card__quote-container">
        <img src="/img/team/quote.png" alt="quote" />
        <div id="quote" class="employee-card__quote-text" >не заповнено</div>
      </div>
      <div class="employee-card__inspiration">
        <p class="employee-card__inspiration-question">Що Вас надихає?</p>
        <p id="inspirationAnswer" class="employee-card__inspiration-answer" >не заповнено</p>
      </div>
      <div class="employee-card__details">
        <div class="employee-card__workplace-type">
          <div class="icon"> <img src="/img/pin.png" alt="pin"></div>
          <p>Працює: </p>
          <p id="workplaceType" class="main-text" >не заповнено</p>
        </div>
        <div class="employee-card__experiense">
          <div class="icon"> <img src="/img/expirience.png" alt="expirience"></div>
          <p>Стаж: </p>
          <p id="experience" class="main-text" >не заповнено</p>
        </div>
        <div class="employee-card__birthday">
          <div class="icon"><img src="/img/birthday.png" alt="birthday"></div>
          <p>День народження: </p>
          <p id="dateOfBirth" class="main-text" >не заповнено</p>
        </div>
        <div class="employee-card__address">
          <div class="icon"><img src="/img/home-address.png" alt="address"></div>
          <div class="address-text">
            <p>Адреса:</p>
            <p id="residentialAddress" class="main-text" >не заповнено</p>
          </div>
        </div>
      </div>
      <div class="employee-card__contacts">
        <div class="employee-card__mobile">
          <div class="icon"><img src="/img/call.png" alt="call"></div>
          <div id="personalMobile" class="employee-card__personal-mobile">
            <p>Особистий телефон: </p>
            <p class="main-text" >не заповнено</p>
          </div>
          <div id="corporateMobile" class="employee-card__corporate-mobile">
            <p>Робочий телефон: </p>
            <p class="main-text" >не заповнено</p>
          </div>
        </div>
        <div class="employee-card__email">
          <div class="icon"><img src="/img/email.png" alt="email"></div>
          <div id="personalEmail" class="employee-card__personal-email">
            <p>Особистий email: </p>
            <p class="main-text" >не заповнено</p>
          </div>
          <div id="workEmail" class="employee-card__corporate-email">
            <p>Робочий email: </p>
            <p class="main-text" >не заповнено</p>
          </div>
        </div>
      </div>
      <div class="employee-card__resources">
        <div class="employee-card__documents">
          <div class="btn-wrapper-dark">
            <a href="javascript:void(0)">
              <span>Переглянути документи</span>
            </a>
          </div>
        </div>
        <div class="employee-card__assigned-equipment">
          <div class="btn-wrapper-dark">
            <a href="javascript:void(0)">
              <span>Закріплені ТМЦ</span>
            </a>
          </div>
        </div>
      </div>
      <div class="employee-card__admin-panel">
        <div class="employee-card__edit">
          <div class="btn-wrapper-dark">
            <a href="javascript:void(0)">
              <span>Змінити</span>
            </a>
          </div>
        </div>
        <div class="employee-card__delete">
          <div class="btn-wrapper-dark">
            <a href="javascript:void(0)">
              <span>Видалити</span>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="close-btn">
      <button>
        <img src="/img/close.png" alt="close-cross">
      </button>
    </div>
  </div>
</section>
