<section class="our-team__list">
     
    <div class="our-team__read-by-id-container">
        <div class="wrapper">
            <div class="our-team__person-info">
                <form>
                    <div class="form-group">
                      <input
                        type="text"
                        id="lastName"
                        value="Валько"
                        class="title"
                        readonly
                        disabled
                      />
                      <input
                        type="text"
                        id="firstName"
                        value="Владислава"
                        class="title"
                        readonly
                        disabled
                      />
                      <input
                        type="text"
                        id="middleName"
                        value="Олександрівна"
                        class="title"
                        readonly
                        disabled
                      />
                    </div>
                    <div class="form-group">
                      <input
                        type="text"
                        id="department"
                        value="Продажів"
                        class="main-text"
                        readonly
                        disabled
                      />
                      <input
                        type="text"
                        id="position"
                        value="Менеджер-операціоніст"
                        class="main-text"
                        readonly
                        disabled
                      />
                    </div>
                  </form>
                  <div class="person-info__department-and-position">
                    <p class="main-text">Продажів</p>
                    <p class="main-text"></p>
                    <p class="main-text">Менеджер-операціоніст</p>
                  </div>
                  <div class="quote-container">
                    <div class="quote-container__decor">
                        <div class="quote-container__line"></div>
                    <img src="/img/team/quote.png" alt="">
                    <div class="quote-container__line"></div>
                    </div>
                    <p class="main-text">Кожен новий день - це можливість зробити наступний краще!</p>
                    <p class="main-text">Що Вас надихає? <br>
                        моя сім`я, подорожі, спілкування з цікавими людьми.</p>
                  </div>     
            </div>
                <img class="our-team-card__person-photo" src="/img/team/андрієнко О..jpg" alt="">

        </div>
        
   </div>

    <div class="our-team__container">
      <!-- <div class="our-team__card">
        <div class="our-team__person-photo">
          <form>
            <input
              type="image"
              id="image"
              alt="photo"
              src="/img/team/Валько Владислава.jpg"
              style="pointer-events: none; cursor: default"
            />
          </form>
        </div>
        <div class="our-team__person-info">
          <form>
            <div class="form-group">
              <input
                type="text"
                id="lastName"
                value="Валько"
                class="title"
                readonly
                disabled
              />
              <input
                type="text"
                id="firstName"
                value="Владислава"
                class="title"
                readonly
                disabled
              />
              <input
                type="text"
                id="middleName"
                value="Олександрівна"
                class="title"
                readonly
                disabled
              />
            </div>

            <div class="form-group">
              <input
                type="text"
                id="position"
                value="Маркетолог"
                class="main-text"
                readonly
                disabled
              />
              <input
                type="text"
                id="position"
                value="10 років у компанії"
                class="main-text"
                readonly
                disabled
              />
            </div>
          </form>

          <div class="our-team__person-contacts">
            <div class="contact-icon">
              <a href="#">
                <img src="/img/call.png" alt="call" />
              </a>
            </div>
            <div class="contact-icon">
                <a href="#">
                  <img src="/img/email.png" alt="email" />
                </a>
              </div>
          </div>

          <div class="btn-wrapper-dark">
            <a href="/pages/our-culture-document.html">
              <span>Більше</span>
            </a>
          </div>
        </div>
      </div> -->
    </div>
  </div>
</section>
