<section class="our-team-person-card-container">
  <div class="wrapper">
    <div class="employee-card__photo-container">
      <img src="/img/team/адонина.jpg" alt="Adonina" />
    </div>
    <div class="employee-card__info">
      <div class="employee-card__full-name">
        <p>Валько</p>
        <p>Владислава</p>
        <p>Олександрівна</p>
      </div>
      <div class="employee-card__department-and-position">
        <div class="employee-card__department">Маркетинг</div>
        <div class="employee-card__separator"></div>
        <div class="employee-card__position">Маркетолог</div>
      </div>
      <div class="employee-card__quote-container">
        <img src="/img/team/quote.png" alt="quote" />
        <div class="employee-card__quote-text">
          Кожен новий день - це можливість зробити наступний краще!
        </div>
      </div>
      <div class="employee-card__inspiration">
        <p>Що Вас надихає?</p>
        <p>моя сім`я, подорожі, спілкування з цікавими людьми.</p>
      </div>
      <div class="employee-card__details">
        <div class="employee-card__workplace-type">
            <img src="/img/pin.png" alt="pin">
            <p>Працює: </p>
            <p>віддалено</p>
        </div>
        <div class="employee-card__experiense">
            <img src="/img/expirience.png" alt="expirience">
            <p>Стаж: </p>
            <p>3 роки</p>
        </div>
        <div class="employee-card__birthday">
            <img src="/img/birthday.png" alt="birthday">
            <p>День народження: </p>
            <p>20/07</p>
        </div>
        <div class="employee-card__address">
            <img src="/img/home-address.png" alt="address">
            <p>Адреса: </p>
            <p>"г. Киев, ул. Автозаводская 77, кв. 63</p>
        </div>
      </div>
      
    </div>
  </div>
</section>
